<!-- SIDEBAR DESKTOP -->
<div class="sidebar-container">
  <div class="sidebar background-primary">

    <div class="sidebar-content">
      <div class="sidebar-content-container">

        <div class="sidebar-content-logo">
          <a href="index.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="114" height="157" viewBox="0 0 114 157">
              <g id="Group_5" data-name="Group 5" transform="translate(-2205 94.024)">
                <rect id="Rectangle_3" data-name="Rectangle 3" width="37" height="157" transform="translate(2205 -94.024)" fill="#f8f8f8"/>
                <rect id="Rectangle_4" data-name="Rectangle 4" width="65" height="65" transform="translate(2254 -94.024)" fill="#f8f8f8"/>
                <rect id="Rectangle_5" data-name="Rectangle 5" width="65" height="65" transform="translate(2254 -2.024)" fill="#f8f8f8"/>
              </g>
            </svg>
          </a>
          
          <div class="sidebar-content-logo-title">ATRIAS AMIB</div>
        </div>

        <div class="sidebar-content-navigation">
          <a href="hobby-interest.html?menu=hobby">
            <nav id="hobby">HOBBY & INTEREST</nav>
          </a>
          <a href="myhistory.html?menu=history">
            <nav id="history">MY HISTORY</nav>
          </a>
          <a href="other.html?menu=other">
            <nav id="other">HOMETOWN</nav>
          </a>
        </div>

        <div class="sidebar-content-footer">
          
          <div class="shape-obj">
            <img src="../../assets/images/shape.png" alt="">
          </div>

          <div align="center" class="footer-trademark text-secondary">
            <p>© 2023 Atrias Amib Ltd. All Rights Reserved.</p>
          </div>
          
        </div>

      </div>
    </div>

  </div>
</div>
<!-- END SIDEBAR DESKTOP -->